@import url('https://fonts.googleapis.com/css?family=Pirata+One|Rubik:900');

#pango_img {
  text-align:center;
  Margin : auto;
  Display:flex;
}
h1 {
  text-transform: Uppercase;
  margin-bottom: .5em;
  font-family: 'Rubik', sans-serif;
  font-size: 6rem;
  color: #E4E5E6; }

h1 {
  position: relative;
  background: linear-gradient(to right, #24243e, #141E30, #0f0c29);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

h1:before,
h1:after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0; }

h1:before {
  z-index: -1;
  text-shadow: -0.001em -0.001em 1px rgba(255,255,255,.15)}

h1:after {
  z-index: -2;
  text-shadow: 10px 10px 10px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0,0,0,.1);
  mix-blend-mode: multiply; }

.container {
  position: center;
  width: auto;
  height: auto;
  background: #a1b5fa;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: #ffffff;
  box-shadow: 20px 20px rgba(0,0,0,.15);
  transition: all .4s ease;
}
.container:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, .25);
}
